name: Build cmdkit binaries

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install pyinstaller typer rich jinja2

      - name: Build binary
        run: |
          pyinstaller --onefile cmdkit/main.py --name cmdkit

      - name: Rename binary
        run: |
          if [[ "${{ runner.os }}" == "Linux" ]]; then mv dist/cmdkit dist/cmdkit-linux; fi
          if [[ "${{ runner.os }}" == "macOS" ]]; then mv dist/cmdkit dist/cmdkit-macos; fi
          if [[ "${{ runner.os }}" == "Windows" ]]; then mv dist/cmdkit.exe dist/cmdkit-windows.exe; fi
        shell: bash

      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: cmdkit-${{ runner.os }}
          path: dist/*